@import '../master.scss';

.skills-main-container{
    width: 100%;
    background-color: $tier3;
    color: $secondary;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    .skills-container{
        width: 80%;
        border: 2px solid white;
    }
    .skills-icon-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        svg{
            height: 50px;
            width: 50px;
        }
    }
    .skills-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 2px solid white;
        .skills-underblock{
            border: 2px solid white;
            width: 30%;
            display: flex;
            flex-direction: column;
            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }
            .skills-item{
                background-color: $tier2;
                border: 2px solid $secondary;
                height: 50px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                svg{
                    margin: 5px;
                }
            }
            
        }
    }
    
}