@import '../master.scss';

.admin-page-main-container{

    background-color: $tier3;
    width: 100%;
    min-height: 100vh;
    color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    .admin-page-title{
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 30px;
        h1{
            text-align: center;
        }
        svg{
            width: 50px;
            height: 50px;
            margin: 0 20px;
        }
    }
    
        .form-admin{
            width: 30%;
            border: 1px solid $primary;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $tier2;
            .form-admin-line{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                label{
                    margin: 10px;
                }
                input{
                    margin: 10px;
                    text-align: center;
                    font-size: 18px;
                }
            }
            button{
                margin: 10px;
                width: 100px;
                height: 30px;
            }
        }
        .error-message{
            background-color: $tier2;
            margin: 20px;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            border: 1px solid $primary;
            p{
                margin: 10px;
            }
        }
        .messages-container{
            border: 2px solid white;
            background-color: $tier2;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            .message-container{
                height: 200px;
                width: 200px;
                background-color: white;
                margin: 10px;
            }
        }
    
}
@media (max-width: 1024px) {
    .admin-page-main-container{
        .form-admin{
            width: 50%;
        }
        .error-message{
            width: 50%;
        }
    }
}
@media (max-width: 465px) {
    .admin-page-main-container{
        .form-admin{
            width: 70%;
        }
        .error-message{
            width: 70%;
        }
    }
}
@media (max-width: 350px) {
    .admin-page-main-container{
        .form-admin{
            width: 90%;
        }
        .error-message{
            width: 90%;
        }
    }
}