@import '../master.scss';

.projects-main-container{
    width: 100%;
    background-color: $tier2;
    display: flex;
    justify-content: center;
    .projects-container{
        width: 90%;
        color: $secondary;
        padding: 40px 0;
        .projects-icon-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            svg{
                height: 50px;
                width: 50px;
            }
        }
        .projects-list-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item-1,.item-2,.item-3,.item-4,.item-5,.item-6{
                background-image: url('../img/react.png');
                background-origin: border-box;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .projects-item{
                background-color: $tier3;
                margin: 10px;
                width: 30%;
                height: 250px;
                border: 1px solid $primary;
                border-radius: 5px;
                display: flex;
                align-items: flex-end;
                img{
                    height: 100%;
                    width: 100%;
                }
                .project-info{
                    background-color: rgba(255, 255, 255, 0.300);
                    width: 100%;
                    border-radius: 0 0 3px 3px;
                    p{
                        color: $primary;
                    }
                }
                
            }
        }

    }
}

@media (max-width: 1024px) {
    .projects-main-container{
        .projects-container{
            width: 100%;
        }
    }
}
@media (max-width: 900px) {
    .projects-main-container{
        .projects-container{
            .projects-list-container{
                .projects-item{
                    width: 45%;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .projects-main-container{
        .projects-container{
            .projects-list-container{
                .projects-item{
                    width: 100%;
                }
            }
        }
    }
}